{% extends 'base.html.twig' %}

{% block title %}Hey coucou !{% endblock %}

{% block body %}

  <h1>{{ data }} <h1>

  {# <p>Nom: {{ name }}</p>
  {% if firstName != null %}
    <p>Prénom: {{ firstName }}</p>
  {% endif %} #}
  
{% endblock %}